<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="header :: myHeader"></div>
</head>
<body class="sb-nav-fixed">
	<div th:replace="navbar :: myNavbar"></div>
	<div id="layoutSidenav">
		<div th:replace="sidebar :: mySidebar"></div>
		<div id="layoutSidenav_content">
			<div class="container">
				<br>
				<hr>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item"><a href="/home">Dashboard</a></li>
					<li class="breadcrumb-item active">Sản phẩm trong kho</li>
				</ol>

				<br>
				<div class="row">
					<div class="col-9">
						<form th:action="@{/searchByTime}" method="get">
							<div class="row p-2">
									<div class="form-group col-4">
										<label for="">From Date</label>
										<input type="date"
											   name="fromDate"
											   placeholder="Repair Cost"
											   class="form-control" >
									</div>
									<div class="form-group col-4">
										<label for="">To Date</label>
										<input type="date"
											   name="toDate"
											   class="form-control" step="any">
									</div>

								<div class="col-3">
									<button type="submit" class="btn btn-outline-secondary shadow-sm rounded"
											id="search">Search</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<br>
				<a  th:href="@{/notConfirm}"
					class="btn btn-primary"> Chưa xác nhận </a>
				<a  th:href="@{/confirmed}"
					class="btn btn-primary"> Đã xác nhận </a>
				<a  th:href="@{/OrderView}"
					class="btn btn-primary"> Tất cả </a>

				<table class=" mt-5 table table-bordered table-hover">
					<thead class="thead-light">
						<tr>
							<th>ID</th>
							<th>Ngày đặt hàng</th>
							<th>Tổng hóa đơn</th>
							<th>Tên khách hàng</th>
							<th>SĐT liên lạc</th>
							<th>Trạng thái đơn hàng</th>
							<th colspan="2" style="text-align: center">Options</th>
						</tr>
					</thead>
					<tbody th:if="${#lists.isEmpty(orderList)}">
						<tr>
							<td colspan="3" style="color: red;">No Data found</td>
						</tr>
					</tbody>
					<tbody id="myTable">
						<tr th:each="order : ${orderList}">
							<td th:text="${order.id}"></td>
							<td th:text="${order.orderDate}"></td>
							<td th:text="${order.amount}"></td>
							<td th:text="${order.custommer.name}"></td>
							<td th:text="${order.custommer.phone}"></td>
							<td  th:if="${order.status==1}"> <button class="btn-outline-success">Đã Xác Nhận</button></td>
							<td  th:if="${order.status==0}"> <button class="btn-outline-danger">Chưa Xác Nhận</button></td>

							<td><a th:if="${order.status==0}"  th:href="@{/orderConfirm(id=${order.id})}"
								class="btn btn-primary"> Xác Nhận </a></td>
							<td><a th:if="${order.status==1}" th:href="@{/orderDetail(id=${order.id})}"
								class="btn btn-outline-success"> Xem Chi Tiết đơn </a></td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation example">
					Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]
					<ul class="pagination">
						<li class="page-item">
							<a class="page-link" th:href="@{'/OrderView/1'}" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
							<a class="page-link" th:href="@{'/OrderView/' + ${i}}">[[${i}]]</a>
						</li>

						<li class="page-item">
							<a class="page-link" th:href="@{'/OrderView/'+${totalPages}}" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<a class="btn btn-outline-success" href="https://sandbox.vnpayment.vn/merchantv2/"> Thống kê các đơn hàng đã thanh toán qua Web </a>
		</div>
	</div>
	<div th:replace="footer :: myFooter"></div>
</body>
</html>