<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: myHeader"></div>
</head>
<body class="sb-nav-fixed">
<div th:replace="navbar :: myNavbar"></div>
<div id="layoutSidenav">
    <div th:replace="sidebar :: mySidebar"></div>
    <div id="layoutSidenav_content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Đổi Mật khẩu</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
                <p class="text-center">chú ý: mật khẩu không được trùng với tên tài khoản</p>
                <p style="color: red; font-size: larger" th:if="${messageChangePass}!=null" th:text="${messageChangePass}"> </p>
                <p style="color: #1c7430; font-size: larger"th:if="${messageSuccess}!=null" th:text="${messageSuccess}"> </p>
                <p th:text="'Xin Chào '+${user.username}"> </p>
                <form th:action="${ChangePassword}" method="post" id="passwordForm">
                    <input type="password" class="input-lg form-control my-4 p-2" name="password1" id="password1"
                           placeholder="New Password" autocomplete="off">

                    <input type="password" class="input-lg form-control p-2" name="password2" id="password2"
                           placeholder="Repeat Password" autocomplete="off">

                    <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg my-4"
                           data-loading-text="Changing Password..." value="Change Password">
                </form>
            </div><!--/col-sm-6-->
        </div><!--/row-->
    </div>
    </div>
</div>
<div th:replace="footer :: myFooter"></div>
</body>
</html>