<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: myHeader"></div>
</head>
<body class="sb-nav-fixed">
<div th:replace="navbar :: myNavbar"></div>
<div id="layoutSidenav">
    <div th:replace="sidebar :: mySidebar"></div>
    <div id="layoutSidenav_content">
        <div class="container">
            <br>
            <hr>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/home">Dashboard</a></li>
                <li class="breadcrumb-item active">Chi tiết đơn hàng</li>
            </ol>

            <br>
            <br>
            <table class="table table-light table-bordered table-hover">
                <thead class="thead-light">
                <!--                <tr>-->
                <!--                    <th>tên sản phẩm</th>-->
                <!--                    <th>giá</th>-->
                <!--                    <th>số lượng</th>-->
                <!--                </tr>-->
                </thead>
                <tbody th:if="${#lists.isEmpty(customerName)}">
                <tr>
                    <td colspan="3" style="color: red;">No Data found</td>
                </tr>
                </tbody>
                <tbody id="myTable">
                <tr >
                    <th>Tên Sản Phẩm</th>
                    <th th:each="o : ${customerName}" th:text="${o}"></th>
                </tr>
                <tr >
                    <th>Ảnh</th>
                    <th th:each="o : ${photos}">
                        <img width="150" height="150" th:src="'/img/'+${o}">
                    </th>
                </tr>
                <tr >
                    <th>Giá</th>
                    <th th:each="o : ${prices}" th:text="${o}"></th>
                </tr>
                <tr >
                    <th>Số Lượng</th>
                    <th th:each="o : ${quantities}" th:text="${o}"></th>
                </tr>


                </th>
                </tbody>
            </table>
            <h4 th:text="'Tổng đơn hàng: '+ ${order.amount}+ ' VNĐ'"></h4>
        </div>
        <script type="text/javascript">
            document.getElementById("myButton").onclick = function() {
                location.href = "ItemCreate";
            };
        </script>
    </div>
</div>
<div th:replace="footer :: myFooter"></div>
</body>
</html>